<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" android:compileSdkVersion="30" android:compileSdkVersionCodename="11" coreApp="true" package="com.android.wifi.resources" platformBuildVersionCode="30" platformBuildVersionName="11">
    <application android:defaultToDeviceProtectedStorage="true" android:directBootAware="true" android:extractNativeLibs="false" android:hasCode="false" android:label="@string/wifiResourcesAppLabel" android:usesCleartextTraffic="true">
        <activity android:enabled="true" android:exported="true" android:name="android.app.Activity">
            <intent-filter>
                <action android:name="com.android.server.wifi.intent.action.SERVICE_WIFI_RESOURCES_APK"/>
            </intent-filter>
        </activity>
    </application>
</manifest>